<h4>{{message.content}}</h4>
<br>
<h5>{{message.date}} | Submitted by {{message.author}}</h5>
<br>
<h5>Additional Notes: {{message.notes}}</h5>
<br>
<ul>
  {{#each message.answers as |answer|}}
    <li><h5><i>Submitted by {{answer.author}} | {{answer.date}} </i><br> Answer: {{answer.content}}</h5></li><br>
  {{/each}}
</ul>

{{update-message message=message update="update"}}
