<div class="row">
  <div class="col s12">
    <div class="card-panel teal">
      <span class="white-text">
      <h4>{{message.content}}</h4>
      <br>
      <h5>{{message.date}} | Submitted by {{message.author}}</h5>
      <h5>Additional Notes: {{message.notes}}</h5>
      </span>
    </div>
  </div>
</div>
<br>
<ul>
  {{#each message.answers as |answer|}}
    <li><h5><i>Submitted by {{answer.author}} | {{answer.date}} </i><br> Answer: {{answer.content}}</h5></li><br>
  {{/each}}
</ul>

{{update-message message=message update="update"}}
